h1{
    font-family: 'Roboto Slab', serif !important;
    font-weight: bolder;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

*{
    font-family: 'Roboto Slab', serif !important;

}

.italics{
    font-style: italic;
}


#logo-container img {
    width: auto;
    height: 100%;
 }